<!DOCTYPE html>
<html>
    <head>
        <title>CUMS</title>
        <link type="text/css" rel="stylesheet" href="./css/output.css">
        <link rel="shortcut icon" type="image/jpg" href="https://i.pinimg.com/originals/f4/aa/bb/f4aabb8d15736c9bc7003be9bbfd6362.jpg"/>
    </head>
    <body class="">
        <div class="w-full flex flex-col justify-center items-center">
            {{> header}}

            <!-- i'll do this later or smthn idk -->
            <a href="https://en.wikipedia.org/wiki/En_passant">
                <h1 class="text-4xl">HOLY HELL!!!</h1>
            </a>
            <a href="https://en.wikipedia.org/wiki/En_passant">
                <img src="https://d33v4339jhl8k0.cloudfront.net/docs/assets/5d43501e2c7d3a2ec4bfbfe0/images/5d76d7972c7d3a7e9ae0ef8c/file-7ABLpdO85Y.png">
            </a>
        </div>
    </body>
</html>
