<!DOCTYPE html>
<html>

<head>
    <title>CUMS</title>
    <link type="text/css" rel="stylesheet" href="./css/output.css">
    <link rel="shortcut icon" type="image/jpg"
        href="https://i.pinimg.com/originals/f4/aa/bb/f4aabb8d15736c9bc7003be9bbfd6362.jpg" />
</head>

<body class="">
    <div class="w-full flex flex-col justify-center items-center">
        {{> header}}
        <div class="w-full flex flex-row mt-4">
            <div class="w-1/2 h-full flex-col flex justify-center ml-10">
                <h1 class="text-3xl font-bold text-center">Profile</h1>
                <h2 class="text-2xl underline">Calendar</h2>
                <div class="object-scale-down pr-10">
                    <iframe
                        src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FNew_York&src=aWhpdDJraWRzd2l0aG15Y2FyQGdtYWlsLmNvbQ&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%2333B679&color=%230B8043"
                        style="border:solid 1px #777" width="100%" height="500" frameborder="0" scrolling="no"></iframe>
                </div>
                <div class="w-full flex flex-row p">
                    <div class="w-full flex flex-col">
                        <h2 class="text-2xl underline mt-4">Personal Statement</h2>
                        <div class="transition duration-300 ease-in-out scale-1 hover:scale-105">
                            <a href="essays">
                                <img class="rounded-lg"
                                    src="https://takelessons.com/blog/wp-content/uploads/2014/05/Essay.jpg"
                                    alt="wtf why odesn't this work" width="700" height="auto">
                            </a>
                        </div>
                    </div>
                    <div class="w-full flex flex-col px-5">
                        <h2 class="text-2xl underline mt-4">Extracurriculars</h2>
                        <div class="transition duration-300 ease-in-out scale-1 hover:scale-105">
                            <a href="extracurriculars">
                                <img class="rounded-lg" src="http://www.k-state.edu/media/images/oct18/band-sm.jpg"
                                    alt="this is also supposed to work bruh">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-1/2 h-full flex flex-col">
                <h1 class="text-3xl font-bold text-center">Colleges</h1>
                <h2 class="text-xl underline">Not Responded</h2>
                <div class="indent-8">
                    <h3 class="text-xl">Reaches</h3>
                    <ul class="list-disc list-inside inline-block indent-16">
                        <li class="hover:font-bold">Harvard</li>
                        <li class="hover:font-bold">Cornell</li>
                        <li class="hover:font-bold">Massachusetts Institute of Technology</li>
                        <a href="dnu">
                            <li class="hover:font-bold">Deez Nuts University</li>
                        </a>
                    </ul>
                    <h3 class="text-xl ">Targets</h3>
                    <ul class="list-disc list-inside inline-block indent-16">
                        <a href="collegePage?name=University%20of%20Virginia">
                            <li class="hover:font-bold">University of Virginia</li>
                        </a>
                        <li class="hover:font-bold">Virginia Tech
                        </li>
                        <li class="hover:font-bold">University of Maryland</li>
                    </ul>
                    <h3 class="text-xl">Safeties</h3>
                    <ul class="list-disc list-inside inline-block mb-10 indent-16">
                        <li class="hover:font-bold">George Mason University</li>
                        <li class="hover:font-bold">Gannon University</li>
                        <li class="hover:font-bold">University of Pittsburgh</li>
                    </ul>
                </div>

                <h2 class="text-xl underline">Responded</h2>
                <div class="indent-8">
                    <h3 class="text-xl">Accepted</h3>
                    <ul class="list-disc list-inside indent-16">
                        <li>Stanford</li>
                        <li>UCLA</li>
                        <li>William and Mary</li>
                    </ul>
                    <h3 class="text-xl">Denied</h3>
                    <ul class="list-disc list-inside indent-16">
                        <li>Yale</li>
                        <li>Princeton</li>
                        <li>UC Hicago</li>
                    </ul>
                    <h3 class="text-xl">Waitlisted</h3>
                    <ul class="list-disc list-inside indent-16">
                        <li>UC Berkeley</li>
                        <li>University of Michigan</li>
                        <li>Duke</li>
                    </ul>
                    <h3 class="text-xl">Deferred</h3>
                    <ul class="list-disc list-inside indent-16">
                        <li>University of Pennsylvania</li>
                        <li>Columbia/li>
                        <li>Rice</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="w-1/2">

    </div>
</body>

</html>
