@tailwind base;
@tailwind components;
@tailwind utilities;

.close {
  cursor: pointer;
  position: relative;
  top: -20%;
  right: -40%;
  padding: 12px 16px;
  transform: translate(0%, -100%);
}

@keyframes fadeInOp {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-top: 100px;
  }
  100% {
    opacity: 1;
    margin-top: 10px;
  }
}

@keyframes slowFadeInOp {
  0% {
    opacity: 0
  }
  10% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes slowFadeIn {
  0% {
    opacity: 0;
    margin-top: 100px;
  }
  10% {
    opacity: 0;
    margin-top: 100px;
  }
  100% {
    opacity: 1;
    margin-top: 10px;
  }
}

@keyframes slowestFadeInOp {
  0% {
    opacity: 0
  }
  20% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes slowestFadeIn {
  0% {
    opacity: 0;
    margin-top: 100px;
  }
  20% {
    opacity: 0;
    margin-top: 100px;
  }
  100% {
    opacity: 1;
    margin-top: 10px;
  }
}

a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}
